<div class="header-mid-area ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                <div class="header-search">
                    <form action="#">
                        @*<input type="text" placeholder="Nhập tên sách ở đây" />
                            <a href="#"><i class="fa fa-search"></i></a>*@
                        @using (Html.BeginForm("SPView", "SANPHAM", FormMethod.Get))
                        {

                            @Html.TextBox("Keyword", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập vào tên sách ... " })
                            <a href="#"><i class="fa fa-search"></i></a>
                            @*<button type="submit">tìm kiếm</button>*@

                        }
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                @{ Html.RenderPartial("Logo");}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @{ Html.RenderAction("ShowCart");}
            </div>
        </div>
    </div>
</div>
